* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background: linear-gradient(-45deg, #252954, #4356d6, #07098f, #700d68);
	background-size: 400% 400%;
	font-family: sans-serif;
}
.container-fluid{
	margin-left: 28%;
}
#navbar:hover {
	color: red;
}
/* landing */
#landing {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	background-size: 400% 400%;
	opacity: 1;
	height: 100vh;
}
#heading-div {
	margin-left: 25%;
}
#heading1 {
	font-size: 55px;
	font-family: "Kanit", sans-serif;
	margin: 0%;
	padding-bottom: 20px;
}
#heading2 {
	font-size: 35px;
	font-family: "Oleo Script Swash Caps", cursive;
}
#instagram {
	font-size: 35px;
	display: inline-block;
	background: transparent;
	color: #fff;
	line-height: 1;
	padding: 10px 0;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
#github {
	font-size: 35px;
	display: inline-block;
	background: transparent;
	color: #fff;
	line-height: 1;
	padding: 10px 0;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
#linkdin {
	font-size: 35px;
	display: inline-block;
	background: transparent;
	color: #fff;
	line-height: 1;
	padding: 10px 5px;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
#right-arrow{
	color: #4356d6;
}
.html {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 5px;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.css {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 5px;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.bootstrap {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 5px;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.github {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 0;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.email{
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 0;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.location{
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 0;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.Phone{
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 0;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.email:hover{
	color: #4356d6;
}
.github:hover{
	color: #4356d6;
}
.html:hover{
	color: #4356d6 ;
}
.css:hover{
	color: #4356d6 ;
}
.bootstrap:hover{
	color: #4356d6;
}

#instagram:hover {
	color: #4356d6;
	font-size: 55px;
}
#github:hover {
	color: #4356d6;
    font-size: 55px;
}
#linkdin:hover {
	color: #4356d6;
    font-size: 55px;
}

/* landing */
/* about */
#about {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #252954;
	background-size: 400% 400%;
	opacity: 1;
	padding: 20px;
}
.about-container {
	min-height: 80vh;
	align-items: center;
	width: 100%;
	background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
	border-radius: 6px;
	padding: 40px 30px;
}
#para-about {
	margin-top: 2px;
	margin-bottom: 45px;
}
.heading-about2 {
	font-family: "Oleo Script Swash Caps", cursive;
}
#para-about {
	
	font-family: "Josefin Slab", serif;
	color: #adadad;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
}
.para-about2 {	
	font-family: "Josefin Slab", serif;
	color: #adadad;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
}
#btn2 {
	background-color: transparent;
	color: white;
}
#btn2:hover {
	outline: 2px solid rgb(154, 2, 224);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
}

#icon2 {
	border: 2px solid rgb(154, 2, 224);
	padding: 15px;
	font-size: 38px;
	margin-bottom: 24px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
	animation: flickering 5s infinite;
}
#icon3 {
	margin-top: 40px;
	padding: 15px;
	border: 2px solid rgb(154, 2, 224);
	font-size: 38px;
	margin-bottom: 24px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
	animation: flickering 5s infinite;
}
#img-about {
	border: 3px solid rgb(154, 2, 224);
	margin-bottom: 24px;
	height: 60%;
	width: 80%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
	animation: flickering 5s infinite;
}
.about-heading3{
	font-family: "Oleo Script Swash Caps", cursive;
}
.about-heading4 {
	font-family: "Oleo Script Swash Caps", cursive;
}
/* about */
/* skills */
#skills {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: 400% 400%;
	opacity: 1;
	padding: 20px;
}
#skills-container {
	min-height: 80vh;
	align-items: center;
	width: 100%;
	border-radius: 6px;
	padding: 40px 30px;
}
.outline1 {
	height: 355px;
	border: 4px solid rgb(154, 2, 224);
	transform: rotate(45deg);
}
.skill-items {
	margin-left: 30%;
	margin-top: 80%;
	color: white;
	border: 3px solid rgb(154, 2, 224);
	transform: rotate(45deg);
	height: 255px;
	width: 255px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-align: center;
	position: relative;
	z-index: 1;
	border-radius: 0px;
	background: transparent;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
	animation: flickering 5s infinite;
}
.skill-item-text {
	padding: 5px;
	transform: rotate(-45deg);
}
.skills-item-second {
	color: white;
	border: 3px solid rgb(154, 2, 224);
	margin-top: 105px;
	transform: rotate(45deg);
	height: 255px;
	width: 255px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-align: center;
	position: relative;
	z-index: 1;
	border-radius: 0px;
	background: transparent;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
	animation: flickering 5s infinite;
}
.skill-item-third {
	margin-bottom: 20%;
	margin-left: 30%;
	margin-top: 80%;
	color: white;
	border: 3px solid rgb(154, 2, 224);
	transform: rotate(45deg);
	height: 255px;
	width: 255px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 1;
	border-radius: 0px;
	background: transparent;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
	animation: flickering 5s infinite;
}
.skill-item-four {
	color: white;
	border: 3px solid rgb(154, 2, 224);
	margin-top: 105px;
	transform: rotate(45deg);
	height: 255px;
	width: 255px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-align: center;
	position: relative;
	z-index: 1;
	border-radius: 0px;
	background: transparent;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
	animation: flickering 5s infinite;
}
meter::-webkit-meter-optimum-value {
	background: linear-gradient(-45deg, #252954, #4356d6, #07098f, #700d68);;
}
/* skills */
/* projects */
#projects {
	color: white;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #252954;
	background-size: 400% 400%;
	opacity: 1;
	padding: 20px;
}
.spad{
	padding-top: 100px;
	padding-bottom: 90px;
}
.project-heading{
	margin-bottom: 90px;
}
#row-projects{
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
}
.project-item {
    height: 390px;
    position: relative;
    overflow: hidden;
}
.set-bg{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.pi-2{   
   margin-top: -60px;;
}
.pi-3{
	margin-top: -120px;
}
.pi-4{
	margin-top: -180px;
}
.project-details{
	background: linear-gradient(
	  to top,
	  rgba(0, 0, 0, 0.7) 0%,
	  rgba(0, 0, 0, 0) 100%
	);
	color: white;
	position: absolute;
	margin-bottom: 140px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s linear;
}
.staff:hover .project-details {
	opacity: 300%;
  }
  #heading-projects{
	font-family: "Oleo Script Swash Caps", cursive;
  }
/* projects */
/* testimonials */
.testimonials{
	background-color: transparent;
	position: relative;
}
#testimonial-container{
	background: #252954;
}
.staff {
	position: relative;
  }
  #test-head1{
	font-family: "Kanit", sans-serif;
}
#test-head2{
	  font-family: "Oleo Script Swash Caps", cursive;

  }
  .staff-details {
	background: linear-gradient(
	  to top,
	  rgba(0, 0, 0, 0.7) 0%,
	  rgba(0, 0, 0, 0) 100%
	);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	opacity: 0;
	transition: all 0.3s linear;
  }
  
  .staff:hover .staff-details {
	opacity: 230%;
  }
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
	line-height: 50px;
	border-radius: 50%;
  position: absolute;
  top: 30%;
	font-size: 20px;
  color: #fff;
	border: 1px solid #ddd;
	text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}


/* testimonials */
/* contact */

#contact{
	background-color: #252954;
}
#col-6 {
	padding: 20px;
	height: 440px;
	width: 700px;
	padding-right: 10%;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background: linear-gradient(-45deg, #252954, #4356d6, #07098f, #700d68);
}
.login-page {
	width: 500px;
	padding: 8% 0 0;
	margin: auto;
}
.form {
	width: 130%;
	position: relative;
	z-index: 1;
	background: linear-gradient(-45deg, #252954, #4356d6, #07098f, #700d68);
	max-width: 360px;
	margin: 0 auto;
	margin-right: auto;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formbox {
	padding-left: 20%;
}
.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #17213a;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #1a2049;
	height: 100%;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
	background: #252954;
}
.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.form .message a {
	color: #1a2049;
	text-decoration: none;
}
.form .register-form {
	display: none;
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}
.container:before,
.container:after {
	content: "";
	display: block;
	clear: both;
}
.container .info {
	margin: 50px auto;
	text-align: center;
}
.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}
.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}
.container .info span a {
	color: #000000;
	text-decoration: none;
}
.container .info span .fa {
	color: #ef3b3a;
}
.contact-container {
	height: 100%;
	width: 660px;
	align-items: center;
	background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
	border-radius: 6px;
}
#submit-sec {
	background-color: #17213a;
	border: none;
	padding-bottom: 5px;
}
.map{
	padding-top: 1px;
}
.p-map{
	font-size: large;
	padding-bottom: 1px;
	font-family: "Kanit", sans-serif;
}
footer {
	text-align: center;
	padding: 3px;
	background-color: #4356d6;
	color: white;
  }
/* contact */
@keyframes rotate360 {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(-360deg);
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes move {
	0% {
		transform: translate(-30%, 0);
	}
	50% {
		text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
	}
	100% {
		transform: translate(30%, 0);
	}
}
@keyframes flickering {
	0% {
		border-color: transparent;
		opacity: 0.2;
	}

	2% {
		border-color: #8c00ff;
		opacity: 1;
	}

	4% {
		border-color: transparent;
		opacity: 0.2;
	}

	8% {
		border-color: #8c00ff;
		opacity: 1;
	}

	28% {
		border-color: #8c00ff;
		opacity: 1;
	}

	30% {
		border-color: transparent;
		opacity: 0.2;
	}

	36% {
		border-color: #8c00ff;
		opacity: 1;
	}

	100% {
		border-color: #8c00ff;
		opacity: 1;
	}
}
@keyframes spin {
	0% {
		border-color: transparent;
		opacity: 0.2;
	}

	2% {
		border-color: #8c00ff;
		opacity: 1;
	}

	4% {
		border-color: transparent;
		opacity: 0.2;
	}

	8% {
		border-color: #8c00ff;
		opacity: 1;
	}

	28% {
		border-color: #8c00ff;
		opacity: 1;
	}

	30% {
		border-color: transparent;
		opacity: 0.2;
	}

	36% {
		border-color: #8c00ff;
		opacity: 1;
	}

	100% {
		border-color: #8c00ff;
		opacity: 1;
	}
}
@media only screen and (max-width: 1460px) {
	.skill-items{ transform: rotate(0deg);
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  margin: 0;
		padding: 0;
	}
	.skills-item-second { transform: rotate(0deg);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.skill-item-third { transform: rotate(0deg);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.skill-item-four { transform: rotate(0deg);
		display: flex;
		margin: 0;
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.skill-item-text{
		transform: rotate(0deg);

  }
  #heading-div{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
}
  @media only screen and (max-width: 1460px){
	.map{
		width: auto;
	}
	.contact-container{
		width: auto;
	}
	.pi-2{   
		margin-top: 0;
	 }
	 .pi-3{
		 margin-top: 0px;
	 }
	 .pi-4{
		 margin-top: 0px;
	 }
  }
  @media only screen and (max-width: 560px){
	#heading-div{
		font-size: small;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 70%;
	}
  }