* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: black;
	font-family: "Poppins", sans-serif;
}
#landing {
	background-image: url(/pexels-matej-1074882.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
/*icons starting*/
.icons {
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}
.icons a {
	padding: 10px;
}
.fa-solid {
	font: 15px;
}
.instagram {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 0;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.github {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 0;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.linkdin {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 5px;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.html {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 5px;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.css {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 5px;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.bootstrap {
	font-size: 26px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 10px 5px;
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}
.bootstrap:hover {
	color: white;
	background-color: red;
}
.css:hover {
	color: white;
	background-color: red;
}
.html:hover {
	color: white;
	background-color: red;
}
.instagram:hover {
	color: white;
	background-color: red;
}
.github:hover {
	color: white;
	background-color: red;
}
.linkdin:hover {
	color: white;
	background-color: red;
}
/* icons ending */
/* heading */

.heading-landing-1 {
	text-align: center;
	font-size: 53px;
	font-family: "Roboto Flex", sans-serif;
	margin: 0;
}
.heading-landing-2 {
	margin: none;
	font-family: "Josefin Slab", serif;
	text-align: center;
	font-size: 34px;
	text-shadow: 2px 2px rgb(0, 0, 0);
}
.heading-landing {
	text-align: center;
	font-size: 53px;
	font-family: "Roboto Flex", sans-serif;
	margin: 0;
	text-shadow: 2px 2px rgb(0, 0, 0);
}
.heading-landing2 {
	margin: none;
	font-family: "Josefin Slab", serif;
	text-align: center;
	font-size: 34px;
	text-shadow: 2px 2px rgb(0, 0, 0);
}
span {
	padding-bottom: 3px solid red;
	color: red;
}
/* about */
#about {
	background-image: url(/pexels-gradienta-7130475.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	padding: 20px;
}
.about-container {
	height: 100%;
	align-items: center;
	width: 100%;
	background: black;
	border: 3px solid black;
	padding: 30px;
}
#para-about {
	margin-top: 50px;
	margin-bottom: 45px;
}
.heading-about2 {
	font-family: "Josefin Slab", serif;
}
#para-about {
	font-family: "Josefin Slab", serif;
	color: #adadad;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
}
.para-about2 {
	font-family: "Josefin Slab", serif;
	color: #adadad;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
}
#btn2 {
	background-color: transparent;
	color: white;
}
#btn2:hover {
	outline: 2px solid red;
}

#icon2 {
	border: 2px solid red;
	padding: 15px;
	font-size: 38px;
	margin-bottom: 24px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(192, 0, 0, 0.881), 0 0 7px 2px rgba(227, 6, 6, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(81, 0, 0), inset 0 0 7px 2px rgb(255, 0, 0);
	animation: flickering 5s infinite;
}
#icon3 {
	margin-top: 40px;
	padding: 15px;
	border: 2px solid red;
	font-size: 38px;
	margin-bottom: 24px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(192, 0, 0, 0.881), 0 0 7px 2px rgba(227, 6, 6, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(81, 0, 0), inset 0 0 7px 2px rgb(255, 0, 0);
	animation: flickering 5s infinite;
}
#img-about {
	border: 3px solid red;
	margin-bottom: 24px;
	height: 60%;
	width: 80%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(192, 0, 0, 0.881), 0 0 7px 2px rgba(227, 6, 6, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(81, 0, 0), inset 0 0 7px 2px rgb(255, 0, 0);
	animation: flickering 5s infinite;
}
.about-heading4 {
	outline: #00bfe7;
}
/* skills */
.headings-skills-div {
	position: relative;
	top: -300px;
	left: -56px;
}
.heading-skills {
	color: white;
	font-family: "Josefin Slab", serif;
	margin-top: 40px;
}
#skills {
	background-color: black;
	height: 835px;
	padding-top: 270px;
	overflow: hidden;
}
.skill-counter {
	padding: 0px 50px;
}
.row-skill {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.skill-items {
	color: white;
	border: 3px solid red;
	background-color: black;
	transform: rotate(45deg);
	height: 255px;
	width: 255px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-align: center;
	position: relative;
	z-index: 1;
	border-radius: 0px;
	background: black;
	border-radius: 4px;
	text-shadow: 4px 4px #430909, 0 0 10px #901010, inset 1px 1px 1px white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(192, 0, 0, 0.881), 0 0 7px 2px rgba(227, 6, 6, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(81, 0, 0), inset 0 0 7px 2px rgb(255, 0, 0);
	animation: flickering 5s infinite;
}
.skill-item-text {
	padding: 5px;
	transform: rotate(-45deg);
}
.skills-item-second {
	color: white;
	border: 3px solid red;
	background-color: black;
	margin-top: -185px;
	transform: rotate(45deg);
	height: 255px;
	width: 255px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-align: center;
	position: relative;
	z-index: 1;
	border-radius: 0px;
	background: black;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(192, 0, 0, 0.881), 0 0 7px 2px rgba(227, 6, 6, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(81, 0, 0), inset 0 0 7px 2px rgb(255, 0, 0);
	animation: flickering 5s infinite;
}
.skill-item-third {
	color: white;
	border: 3px solid red;
	background-color: black;
	transform: rotate(45deg);
	height: 255px;
	width: 255px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 1;
	border-radius: 0px;
	background: black;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(192, 0, 0, 0.881), 0 0 7px 2px rgba(227, 6, 6, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(81, 0, 0), inset 0 0 7px 2px rgb(255, 0, 0);
	animation: flickering 5s infinite;
}
.skill-item-four {
	color: white;
	border: 3px solid red;
	background-color: black;
	margin-top: -185px;
	transform: rotate(45deg);
	height: 255px;
	width: 255px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-align: center;
	position: relative;
	z-index: 1;
	border-radius: 0px;
	background: black;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(192, 0, 0, 0.881), 0 0 7px 2px rgba(227, 6, 6, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(81, 0, 0), inset 0 0 7px 2px rgb(255, 0, 0);
	animation: flickering 5s infinite;
}
meter::-webkit-meter-optimum-value {
	background: green;
}
/* projects */
#projects {
	background-image: url(/pexels-gradienta-7130560.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	padding: 20px;
	margin: none;
}
#projects-container {
	height: 100%;
	align-items: center;
	background-color: black;
	border: 3px solid black;
	padding: 30px;
}
.heading-projects {
	font-family: "Josefin Slab", serif;
}
/* testimonials */
#testimonials {
	background-color: black;
	padding: 30px;
}
/* contact */
#contact {
	background-image: url(/pexels-gradienta-6985047.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	padding: 20px;
	margin: auto;
}
.projects-head-1 {
	text-shadow: 2px 2px rgb(0, 0, 0);
}
.staff {
	position: relative;
}

.staff-details {
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	opacity: 0;
	transition: all 0.3s linear;
}
.img-fluid1 {
	height: 390px;
	width: 250px;
	border: 2px solid red;
}
.staff:hover .staff-details {
	opacity: 1;
}
#btn1 {
	outline: 2px solid red;
	background-color: black;
	width: 50%;
}
#col2 {
	margin-top: 170px;
}
#col3 {
	margin-top: 120px;
}
#col4 {
	margin-top: 80px;
}
@keyframes flickering {
	0% {
		border-color: transparent;
		opacity: 0.2;
	}

	2% {
		border-color: #ff0000;
		opacity: 1;
	}

	4% {
		border-color: transparent;
		opacity: 0.2;
	}

	8% {
		border-color: #ff0000;
		opacity: 1;
	}

	28% {
		border-color: #ff0000;
		opacity: 1;
	}

	30% {
		border-color: transparent;
		opacity: 0.2;
	}

	36% {
		border-color: #ff0000;
		opacity: 1;
	}

	100% {
		border-color: #ff0000;
		opacity: 1;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
